In [1]:
import pandas as pd

In [93]:
# Load datasets
# df2 - mostly India
# df3 - only US
df1 = pd.read_csv("./../data/raw/Startups.csv")
# df2 = pd.read_csv("./../data/raw/50_Startups.csv", on_bad_lines='skip', sep = ';')
# df3 = pd.read_csv("./../data/raw/startup data.csv")
df4 = pd.read_csv("./../data/raw/Startups_GitHubDataSet.csv", encoding= 'unicode_escape', sep = ';', on_bad_lines='skip')
df5 = pd.read_csv("./../data/raw/Unicorn_Clean.csv")
# df6 = pd.read_excel('./../data/raw/Tech-startup dataset.xlsx') - it's a mess

In [69]:
# Clean up the column with Countries
df1 = df1.replace(u'\xa0', u'', regex=True)

In [87]:
df4.head()

,Unnamed: 0,Company,Valuation ($B),Date Joined,Country,City,Industry,Investor 1,Investor 2,Investor 3,Investor 4
0,0,Bytedance,140.0,2017-04-07,China,Beijing,Artificial intelligence,Sequoia Capital China,SIG Asia Investments,Sina Weibo,Softbank Group
1,1,SpaceX,100.3,2012-12-01,United States,Hawthorne,Other,Founders Fund,Draper Fisher Jurvetson,Rothenberg Ventures,NaN
2,2,Stripe,95.0,2014-01-23,United States,San Francisco,Fintech,Khosla Ventures,LowercaseCapital,capitalG,NaN
3,3,Klarna,45.6,2011-12-12,Sweden,Stockholm,Fintech,Institutional Venture Partners,Sequoia Capital,General Atlantic,NaN
4,4,Canva,40.0,2018-01-08,Australia,Surry Hills,Internet software & services,Sequoia Capital China,Blackbird Ventures,Matrix Partners,NaN

In [83]:
# check if Germany is in
df4['Mapping Location'].str.contains('Germany').any()

In [83]:
# check how many times Germany is inside
df4['Mapping Location'].str.contains('Germany').sum()

In [84]:
df4['Mapping Location'].unique()

array(['San Francisco - California - USA',
       'New York City - New York - USA',
       'Mountain View - California - USA', 'Palo Alto - California - USA',
       'Venice - California - USA', 'Boulder - Colorado - USA',
       'Princeton - New Jersey - USA', 'Chicago - Illinois - USA',
       'Boston - Massachusetts - USA', 'London - United Kingdom',
       'Toronto - Canada', 'Arlington Heights - Massachusetts - USA',
       'Walnut - California - USA', 'Redwood Shores - California - USA',
       'Atherton - California - USA', 'Burlingame - California - USA',
       'San Jose - California - USA', 'Menlo Park - California - USA',
       'Sydney - Australia', 'Bothell - Washington - USA',
       'Berkeley - California - USA', 'Silicon Valley - California - USA',
       'Rio De Janeiro - Brazil', 'Garden City - New York - USA',
       'Kitchener - Canada', 'Fayetteville - Arkansas - USA',
       'Redwood City - California - USA', nan,
       'San Diego - California - USA', 'Cambridge - Massachusetts - USA',
       'Chattanooga - Tennessee - USA', 'Santa Clara - California - USA',
       'Austin - Texas - USA', 'San Carlos - California - USA',
       'Montr√©al - Canada', 'Hong Kong', 'Los Angeles - California - USA',
       'Atlanta - Giorgia - USA', 'Fallston - Maryland - USA',
       'Sunnyvale - California - USA', 'San Mateo - California - USA',
       'Santa Monica - California - USA', 'USA',
       'Foster City - California - USA', 'Columbia - Maryland - USA',
       'Newark - California - USA', 'Bra - Belgium', 'Ottawa - Canada',
       'Seville - Spain', 'Manama - Bahrain', 'Delhi - India',
       'Southfield - Michigan - USA', 'Berlin - Germany',
       'Campbell - California - USA', 'Lucerne Valley - California - USA',
       'Minneapolis - Minnesota - USA', 'Redmond WA - Washington - USA',
       'Oyster Bay NY - New York - USA', 'Troy - Michigan - USA',
       'Hampshire - United Kingdom', 'Oakland - California - USA',
       'Los Altos - California - USA',
       'San Francisco - California - USA, New York City - New York - USA',
       'St. Petersburg - Florida - USA', 'United Kingdom',
       'Emeryville - California - USA', 'Seattle - Washington - USA',
       'Irles - France', 'Stanford - California - USA',
       'Wilmington - Delaware - USA', 'Cupertino - California - USA',
       'Toledo - Ohio - USA', 'Pittsburgh - Pennsylvania - USA',
       'Hunt Valley - Maryland - USA', 'Brisbane - Australia',
       'Hong Kong - Hong Kong', 'Livermore - California - USA',
       'Waterloo - Canada', 'Lisbon - Portugal', 'Tur - Czech Republic',
       'Pleasant Grove - Utah - USA', 'Corvallis - Oregon - USA',
       'Bethesda - Maryland - USA', 'Sterling - Virginia - USA',
       'Providence - Rhode Island - USA',
       'Los Altos Hills - California - USA', 'Ann Arbor - Michigan - USA',
       'Lone Butte - Canada', 'Berkley - California - USA'], dtype=object)

In [89]:
df5.head()
df5.Country.unique()

array(['China', 'United States', 'Sweden', 'Australia', 'United Kingdom',
       'Brazil', 'Hong Kong', 'India', 'Indonesia', 'Germany', 'Mexico',
       'Canada', 'Turkey', 'South Korea', 'Netherlands', 'Israel',
       'Colombia', 'Belgium', 'Lithuania', 'Estonia', 'France', 'Austria',
       'Ireland', 'Singapore', 'Vietnam', 'United Arab Emirates',
       'Switzerland', 'Argentina', 'Spain', 'Japan', 'Luxembourg',
       'Nigeria', 'Santa Clara', 'Finland', 'Philippines', 'Denmark',
       'Senegal', 'Bermuda', 'Norway', 'South Africa', 'Chile',
       'Thailand', 'Malaysia', 'Czech Republic', 'Croatia'], dtype=object)

In [67]:
# Finding Germany in the datasets 

gf1 = df1[df1['Country'] == 'Germany']

,Company,Valuation,Valuation_date,Industry,Country
32,Celonis,11.0,June-21,Software,Germany
76,Personio,6.3,October-21,Software,Germany
91,Trade Republic,5.3,May-21,Fintech,Germany
152,N26,3.5,July-19,Financial services,Germany
177,Contentful,3.0,July-21,Content management system,Germany
198,Wefox,3.0,June-21,NaN,Germany

In [86]:
gf2 = df4[df4['Mapping Location'] =='Berlin - Germany']
gf2

,Company,Satus,Year Founded,Mapping Location,Description,Categories,Founders,Y Combinator Year,Y Combinator Session,Investors,Amounts raised in different funding rounds,Office Address,Headquarters (City),Headquarters (US State),Headquarters (Country),Logo,Seed-DB / Mattermark Profile,Crunchbase / Angel List Profile,Website
298,DirectedEdge,Operating,2008.0,Berlin - Germany,Directed Edge provides real-time suggestion li...,"Services, Reviews and Recommendations, Curated...","Scott Wheeler, Valentin Hussong",2009,Summer,Y Combinator,"$15,000","Schlesische Str. 26, Berlin, 10997, DEU",Berlin,NaN,Germany,http://a3.images.crunchbase.com/image/upload/c...,http://www.seed-db.com/companies/view?companyi...,http://www.crunchbase.com/organization/directe...,http://www.directededge.com

In [91]:
gf3 = df5[df5['Country'] == 'Germany']
gf3

,Unnamed: 0,Company,Valuation ($B),Date Joined,Country,City,Industry,Investor 1,Investor 2,Investor 3,Investor 4
33,33,Celonis,11.00,2018-06-26,Germany,Munich,Data management & analytics,Accel,83North,NaN,NaN
47,47,N26,9.23,2019-01-10,Germany,Berlin,Fintech,Redalpine Venture Partners,Earlybird Venture Capital,Valar Ventures,NaN
86,86,Personio,6.30,2021-01-19,Germany,Munich,Internet software & services,Global Founders Capital,Nortzone Ventures,Picus Capital,NaN
105,105,Trade Republic,5.30,2021-05-20,Germany,Berlin,Fintech,Founders Fund. Accel,Creandum,NaN,NaN
190,190,Otto Bock HealthCare,3.52,2017-06-24,Germany,Duderstadt,Health,EQT Partners,NaN,NaN,NaN
232,232,FlixMobility,3.00,2019-07-18,Germany,Munich,Auto & transportation,Holtzbrinck Ventures,Unternehmertum Venture Capital,General Atlantic,NaN
246,246,Contentful,3.00,2021-07-28,Germany,Berlin,Internet software & services,Balderton Capital,General Catalyst,Tiger Global Management,NaN
251,251,Gorillas,3.10,2021-03-25,Germany,Berlin,E-commerce & direct-to-consumer,Coatue Management,Atlantic Food Labs,DST Global,NaN
281,281,Flink,2.70,2021-12-01,Germany,Berlin,E-commerce & direct-to-consumer,Mubadala Capital,Bond,Prosus Ventures,NaN
326,326,NuCom Group,2.20,2018-02-22,Germany,Unterfoehring,Other,General Atlantic,NaN,NaN,NaN
348,348,Mambu,2.08,2021-01-06,Germany,Berlin,Fintech,Runa Capital,Acton Capital Partners,Point Nine Capital,NaN
402,402,Tier Mobility,2.00,2021-10-25,Germany,Berlin,Travel,Northzone Ventures,White Star Capital,Novator Partners,NaN
452,452,wefox,1.65,2019-03-05,Germany,Berlin,Fintech,Salesforce Ventures,Seedcamp,OMERS Ventures,NaN
457,457,solarisBank,1.65,2021-07-13,Germany,Berlin,Fintech,Yabeo Capital,SBI Investment,Vulcan Capital,NaN
554,554,Scalable Capital,1.40,2021-06-08,Germany,Munich,Fintech,BlackRock,Tengelmann Ventures,Holtzbrinck Ventures,NaN
625,625,Forto,1.20,2021-06-21,Germany,Berlin,Supply chain logistics & delivery,Cherry Ventures,Northzone Ventures,Global Founders Capital,NaN
665,665,GetYourGuide,1.10,2019-05-16,Germany,Berlin,Travel,Spark Capital,Highland Europe,Sunstone Capital,NaN
671,671,Sennder,1.10,2021-01-14,Germany,Berlin,Supply chain logistics & delivery,Accelm Scania Growth Capital,Lakestar,NaN,NaN
685,685,Enpal,1.10,2021-10-18,Germany,Berlin,Internet software & services,HV Capital,Softbank Group,BlackRock,NaN
755,755,Omio,1.00,2018-10-23,Germany,Berlin,Travel,Lakestar,Battery Ventures,New Enterprise Associates,NaN
886,886,Berlin Brands Group,1.00,2021-09-01,Germany,Berlin,E-commerce & direct-to-consumer,Ardian,Bain Capital,NaN,NaN
887,887,Agile Robots,1.00,2021-09-09,Germany,Munich,Hardware,Hillhouse Capital Management,Sequoia Capital China,Linear Venture,NaN
915,915,Razor,1.00,2021-11-08,Germany,Berlin,Consumer & retail,Global Founders Capital,468 Capital,Redalpine Venture Partners,NaN